backup/flows.json
[
  {
    "id": "tab_main",
    "type": "tab",
    "label": "Edge AI Dashboard",
    "disabled": false,
    "info": ""
  },

  {
    "id": "mqtt_data_in",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "Sensor Data",
    "topic": "sensors/group01/temperature/data",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 100,
    "wires": [["parse_data", "debug_data"]]
  },

  {
    "id": "mqtt_alert_in",
    "type": "mqtt in",
    "z": "tab_main",
    "name": "AI Alerts",
    "topic": "alerts/group01/temperature/status",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker",
    "x": 120,
    "y": 300,
    "wires": [["parse_alert", "debug_alert"]]
  },

  {
    "id": "parse_data",
    "type": "function",
    "z": "tab_main",
    "name": "Extract Temperature",
    "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 100,
    "wires": [["gauge_temp", "chart_temp"]]
  },

  {
    "id": "parse_alert",
    "type": "function",
    "z": "tab_main",
    "name": "Format Alert",
    "func": "var status = msg.payload.status;\nvar alerts = msg.payload.alerts || [];\nvar icon = status === 'CRITICAL' ? '🚨' : status === 'WARNING' ? '⚠️' : '✅';\nmsg.payload = icon + ' ' + status + (alerts.length ? ': ' + alerts[0] : '');\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 300,
    "wires": [["text_alert"]]
  },

  {
    "id": "gauge_temp",
    "type": "ui_gauge",
    "z": "tab_main",
    "name": "Temperature Gauge",
    "group": "ui_group_main",
    "order": 1,
    "width": 6,
    "height": 4,
    "gtype": "gage",
    "title": "Temperature (°C)",
    "label": "°C",
    "format": "{{value}}",
    "min": 0,
    "max": 60,
    "colors": ["#00b4ae", "#e6e600", "#ca3838"],
    "seg1": 30,
    "seg2": 40,
    "x": 600,
    "y": 80,
    "wires": []
  },

  {
    "id": "chart_temp",
    "type": "ui_chart",
    "z": "tab_main",
    "name": "Temperature Chart",
    "group": "ui_group_main",
    "order": 2,
    "width": 12,
    "height": 6,
    "label": "Temperature Over Time",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Waiting for data...",
    "dot": false,
    "ymin": "0",
    "ymax": "60",
    "removeOlder": 1,
    "removeOlderPoints": "100",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "colors": ["#1f77b4"],
    "x": 600,
    "y": 120,
    "wires": []
  },

  {
    "id": "text_alert",
    "type": "ui_text",
    "z": "tab_main",
    "group": "ui_group_alerts",
    "order": 1,
    "width": 12,
    "height": 2,
    "name": "Alert Status",
    "label": "AI Alert Status",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 600,
    "y": 300,
    "wires": []
  },

  {
    "id": "debug_data",
    "type": "debug",
    "z": "tab_main",
    "name": "Debug Data",
    "active": true,
    "tosidebar": true,
    "x": 340,
    "y": 160,
    "wires": []
  },

  {
    "id": "debug_alert",
    "type": "debug",
    "z": "tab_main",
    "name": "Debug Alerts",
    "active": true,
    "tosidebar": true,
    "x": 340,
    "y": 360,
    "wires": []
  },

  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "HiveMQ Public",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "nodered-group01",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },

  {
    "id": "ui_group_main",
    "type": "ui_group",
    "name": "Sensor Readings",
    "tab": "ui_tab_main",
    "order": 1,
    "disp": true,
    "width": "12"
  },

  {
    "id": "ui_group_alerts",
    "type": "ui_group",
    "name": "AI Alerts",
    "tab": "ui_tab_main",
    "order": 2,
    "disp": true,
    "width": "12"
  },

  {
    "id": "ui_tab_main",
    "type": "ui_tab",
    "name": "Edge AI Monitor",
    "icon": "dashboard",
    "order": 1
  }
]
